*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-section h1{
    font-size: 3rem;
    font-weight: bold;
     color: #1d1e4c;
     text-transform: uppercase;
}
.top-section h4{
    font-size: 1.5rem;
    text-align: end;
}
.container{
    background-color: #e5e5fd;
    border: 8px solid #1d1e4c;
   min-height: 100vh;
}
.description{
max-width: 850px;
margin: 0 auto;
}
.image-container,img{
    width: 300px;
    height: 320px;
   border-radius: 50%;
}

.top-section{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    align-items: flex-end;
}
.about-section{
    margin-top: 3rem;
}
.about-section h2{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.about-section p{
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 1.2px;
    text-align: justify;

}
.biography-section{
    margin: 3rem 0;
}
.biography-section h3{
    padding-bottom: 1.5rem;
    font-size: 1.6rem;
}
.biography-section ul{
margin-left: 3rem;
list-style: disc;
}
.biography-section li{
    margin-bottom: 10px;
}
.biography-section li p{
    font-size: 1.2rem;
}
footer{
    margin: 3rem 0;
}
footer p{
    text-align: end;
    font-size: 1.1rem;
}
@media screen and (max-width: 600px) {
    .image-container,img{
        width: 150px;
        height: 160px;
        margin-left: 2%;
    }
    .top-section h1{
        font-size: 1.6rem;
        padding-left: 10%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        
    }
    .top-section h4{
        font-size: 0.800rem;
        padding-right: 10%;
    }
    .description{
        margin: 0 auto;
        }
     .about-section h2{
            font-size: 1.8rem;
            padding-left: 3%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
     }
     .about-section p{
        font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: 1.15px;
        padding-left: 5%;
        padding-right: 4%;
} 
footer p{
    font-size: 1.2rem;
    padding-right: 3.5%;
}
.biography-section li p{
    font-size: 1.2rem;
    padding-right: 2%;
}
.biography-section h3{
    padding-left: 2%;
    font-size: 1.4rem;
}
p{
    font-family: 'Ubuntu', sans-serif;
}
 a{
    text-decoration: none;
}
}


